:root {
  --primary-color: #2f4066;
  --secondary-color: #fff;
  --text-color: #000;
  --background-color: #e2e2e2;
  --highlight-color: #f1f1f1;
  --accent-color: #ebb95e;
}

html,body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  overflow-y: auto;
  background-color: var(--background-color);
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

i {
  margin-right: 8px;
  background-size: 1rem 1rem;
}

.btn-close {
  transform: translateY(-10%);
  font-size: .75em;
}

.main-container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: hidden;
}

.app-page-container {
  width: 100%;
  min-height: 100vh;
  padding-left: 10px;
  overflow-y: auto;
}

button.text-link {
  background: none;
  border: none;
}

.hidden {
  animation: fade-in 0.5s;
}   

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(20px);
  } to {
      opacity: 1;
      transform: translateY(0px);
  }
}