#home {
    width: 70%;
    margin: auto;
}

#home-content-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5%;
}

#home-text-container {
    width: 60%;
}

.home-card {
    margin-bottom: 40px;
    transition: opacity .5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(-25px);
    opacity: 0;
}

.home-card-title {
    margin: 0;
    font-weight: 500;
    color: #2f4066;
    font-weight: bold;
}

.home-card-link {
    color: #2f4066;
    transition: color 0.5s ease;
}

.home-card-link:hover {
    color: #838383;
}

.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.form-floating {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    padding: 8px 20px;
    border-radius: 4px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    border: none;
    background-color: #2f4066;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

input[type=submit]:hover {
    background-color: #D3D3D3;
    color: black;
}

#about {
    display: flex;
}

.about-card {
    margin-top: 15px;
    margin-bottom: 100px;
    width: 33%;
    border-top: 2px solid gray;
    cursor: pointer;
}

.about-card img {
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 10px;
}

.bi-chevron-right {
    margin-left: 5px;
    transition: margin-left .4s;
    font-size: 18px;
}

.hover-bar {
    background-color: #2f4066;
    width: 0;
    height: 5px;
    margin-top: -4px;
    margin-bottom: 30px;
    transition: width .4s;
}

.about-card:hover .hover-bar{
    width: 100%;
}

.about-card:hover .fs-5.text-body-emphasis i.bi-chevron-right {
    margin-left: 10px;
}

.home-header-container {
    width: 50%;
    color: #2f4066;
}

.footer {
   margin-top: 60px;
}

@media (max-width: 850px) {
    #home-text-container {
        width: 100%;
    }
}