.search-bar {
  width: 100%;
  height: 3rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: white;
  border-radius: 0;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-inline .form-control {
  margin-right: 0;
  border-radius: 0; 
}

.form-inline .btn {
  border-radius:  0 4px 4px 0; 
  border-right: none;
  background-color: #ebb95e;
  color: black;
}

.form-inline .search-dropdown {
  border-radius: 4px 0 0 4px; 
  border-right: none;
  background-color: #ccc;
  color: black;
}

.form-inline .search-dropdown,
.form-inline .btn {
  border: 1px solid #ddd;
}

.search-results {
  background-color: white;
  color: black;
  position: absolute;
  top: 3rem;
  width: 30%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.search-results div {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.search-results div:hover {
  background-color: var(--highlight-color);
}

.search-dropdown {
  margin-right: 0;
}
